# Konfigurasi Database MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=reservasi_polinela
DB_PORT=3306

# Secret JWT (ganti dengan string acak yang panjang saat production!)
JWT_SECRET=polinela_reservasi_secret_2026

# Port Server
PORT=5000
